<!-- Homepage -->

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="text-vertical-center">
            <noscript>
                <div class="alert alert-danger" role="alert"><strong>Warning!</strong> This site requires JavaScript</div>
            </noscript>
            <h1>Welcome</h1>
            <p>At Cúrsa, we match you to third-level courses based on your personality, academic ability and desired study location. Our recommendations are free from peer pressure and based on scientific career choice studies. So take the first step and let us fit you, with a fitting education.</p>
            <a href="/begin" class="btn btn-lg btn-success">Begin</a> 
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

